
 <div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li>{{#link-to 'index'}}Dashboard{{/link-to}}</li>
                <li>{{#link-to 'device'}}Device{{/link-to}}</li>
            </ul>
        </div>
    </div>
 </div>

 <div id="cont" class="container">
     {{outlet}}
 </div>
