
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li>{{#link-to 'index'}}Dashboard{{/link-to}}</li>
          <li>{{#link-to 'device'}}Device{{/link-to}}</li>
        </ul>
      </div>
    </div>

 <div class="container-fluid">
     {{outlet}}
 </div>