<div id="output">
<table>
    <tbody>
        <tr>
            <td>Aplha: </td>
            <td>{{ orientationData.data.alpha }}</td>
        </tr>
        <tr>
            <td>Beta: </td>
            <td>{{ orientationData.data.beta }}</td>
        </tr>
        <tr>
            <td>Gamma: </td>
            <td>{{ orientationData.data.gamma }}</td>
        </tr>
    </tbody>
</table>

</div>